<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<!-- Page content to fill in form-->

  <!-- Project Classification-->
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"> What kind of category is the project intended to be? </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="custom-control custom-control-alternative custom-radio mb-3">
              <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
              <label class="custom-control-label" for="customRadio1">Event/Workshop</label>
            </div>
            <div class="custom-control custom-control-alternative custom-radio mb-3">
              <input name="custom-radio-2" class="custom-control-input" id="customRadio2" type="radio">
              <label class="custom-control-label" for="customRadio2">Developing Storyhive(New solutions)</label>
            </div>
            <div class="custom-control custom-control-alternative custom-radio mb-3">
              <input name="custom-radio-3" class="custom-control-input" id="customRadio3" type="radio">
              <label class="custom-control-label" for="customRadio3">360 Production</label>
            </div>
            <div class="custom-control custom-control-alternative custom-radio mb-3">
              <input name="custom-radio-4" class="custom-control-input" id="customRadio4" type="radio">
              <label class="custom-control-label" for="customRadio4">Presenting ideas to clients</label>
            </div>
            <div class="custom-control custom-control-alternative custom-radio mb-3">
              <input name="custom-radio-5" class="custom-control-input" id="customRadio5" type="radio">
              <label class="custom-control-label" for="customRadio5">Training solutions (Liaising with HR)</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <br>

  <!-- Project skill sets-->
  <div class="row">
    <div class="col">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"> What kind of skill sets will this project roughly need? </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck1" type="checkbox">
              <label class="custom-control-label" for="customCheck1">360 Production</label>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck2" type="checkbox">
              <label class="custom-control-label" for="customCheck2">Technical Development</label>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck3" type="checkbox">
              <label class="custom-control-label" for="customCheck3">Creative</label>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck4" type="checkbox">
              <label class="custom-control-label" for="customCheck4">Marketing</label>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck5" type="checkbox">
              <label class="custom-control-label" for="customCheck5">Admin</label>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox mb-3">
              <input class="custom-control-input" id="customCheck6" type="checkbox">
              <label class="custom-control-label" for="customCheck6">Others</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <br>

  <!-- Project - Strengths needed -->
  <div class="row">
    <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Fill in the desired weightage of each category of the Gallup Strengths Builder Test.</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-executing">Executing</label>
                      <input type="text" id="input-executing" class="form-control form-control-alternative" placeholder="%">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-influencing">Influencing</label>
                      <input type="text" id="input-influencing" class="form-control form-control-alternative" placeholder="%">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-relationship">Relationship</label>
                      <input type="text" id="input-relationship" class="form-control form-control-alternative" placeholder="%">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-strategic">Strategic</label>
                      <input type="text" id="input-strategic" class="form-control form-control-alternative" placeholder="%">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
