<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
<!-- Page content to fill in form-->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-50">
        <h2>    What category will you classify this project under?</h2>
        <div class="custom-control custom-control-alternative custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
          <label class="custom-control-label" for="customRadio1">Event/Workshop</label>
        </div>
        <div class="custom-control custom-control-alternative custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio2" type="radio">
          <label class="custom-control-label" for="customRadio2">Developing Storyhive(New solutions)</label>
        </div>
        <div class="custom-control custom-control-alternative custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
          <label class="custom-control-label" for="customRadio3">360 Production</label>
        </div>
        <div class="custom-control custom-control-alternative custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio4" type="radio">
          <label class="custom-control-label" for="customRadio4">Presenting ideas to clients</label>
        </div>
        <div class="custom-control custom-control-alternative custom-radio mb-3">
          <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
          <label class="custom-control-label" for="customRadio5">Training solutions (Liaising with HR)</label>
        </div>
      </div>
    </div>
  </div> <br>

  <div class="row">
    <div class="col">
      <div class="card shadow border-50">
        <h2>  What kind of skill sets will this project roughly need?</h2><br>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck1" type="checkbox">
          <label class="custom-control-label" for="customCheck1">360 Production</label>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck2" type="checkbox">
          <label class="custom-control-label" for="customCheck2">Technical Development</label>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck3" type="checkbox">
          <label class="custom-control-label" for="customCheck3">Creative</label>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck4" type="checkbox">
          <label class="custom-control-label" for="customCheck4">Marketing</label>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck5" type="checkbox">
          <label class="custom-control-label" for="customCheck5">Admin</label>
        </div>
        <div class="custom-control custom-control-alternative custom-checkbox mb-3">
          <input class="custom-control-input" id="customCheck6" type="checkbox">
          <label class="custom-control-label" for="customCheck6">Others</label>
        </div>
      </div>
    </div>
  </div>
</div>
