<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- Page content to fill in form-->
<form #projectForm="ngForm" (ngSubmit)="submit()" novalidate>

  <div class="container-fluid mt--7">
    <!-- Strengths Skills Slider -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> Emphasis on Gallup Strengths or Skills?</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="input-slider-container">
              <div id="strengths_skills_slider" class="input-slider"></div>
            </div>
            <div *ngIf="strengthsSkillsSlider">
              Strengths: {{strengthsSkillsSlider.noUiSlider.get()}}%
              <br>
              Skills: {{100 - strengthsSkillsSlider.noUiSlider.get() | number : '.2'}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  <!-- Project Classification-->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> What kind of category is the project intended to be? </h3>
                <div *ngIf="projectForm.invalid">
                  <small class="text-danger">*Category is required</small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="custom-control custom-control-alternative custom-radio mb-3"
            *ngFor="let category of categories">
              <input name="category" class="custom-control-input" id="{{category.name}}" type="radio" [value]="category.value" [(ngModel)]="formModel.category" required>
              <label class="custom-control-label" for="{{category.name}}">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div> <br>

    <!-- Project skill sets-->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> What kind of skill sets will this project roughly need? </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="custom-control custom-control-alternative custom-checkbox mb-3"
              *ngFor="let skill of skills">
                <input name="{{skill.name}}" class="custom-control-input" id="{{skill.name}}" type="checkbox" [(ngModel)]="formModel[skill.field]">
                <label class="custom-control-label" for="{{skill.name}}">{{skill.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Team Size Slider -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> How many members in a team?</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="input-slider-container">
              <div id="team_size_slider" class="input-slider"></div>
            </div>
            <div *ngIf="teamSizeSlider">
              Members: {{teamSizeSlider.noUiSlider.get() | number : '.0'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Submit Button -->
    <br> <button [disabled]="!projectForm.valid" type="button" class="btn btn-danger btn-lg btn-block" (click)="goToPage('/tables')">Submit</button>
  </div>
</form>
