<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- Page content to fill in form-->
<form #projectForm="ngForm" (ngSubmit)="submit()" novalidate>
  <!-- Project Classification-->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> What kind of category is the project intended to be? </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="custom-control custom-control-alternative custom-radio mb-3"
            *ngFor="let category of categories">
              <input name="category" class="custom-control-input" id="{{category.name}}" type="radio" [value]="category.value" [(ngModel)]="formModel.category">
              <label class="custom-control-label" for="{{category.name}}">{{category.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div> <br>

    <!-- Project - Strengths needed -->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Fill in the desired weightage of each category of the Gallup Strengths Builder Test.</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-executing">Executing</label>
                    <input type="text" id="input-executing" class="form-control form-control-alternative" placeholder="%">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-influencing">Influencing</label>
                    <input type="text" id="input-influencing" class="form-control form-control-alternative" placeholder="%">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-relationship">Relationship</label>
                    <input type="text" id="input-relationship" class="form-control form-control-alternative" placeholder="%">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-strategic">Strategic</label>
                    <input type="text" id="input-strategic" class="form-control form-control-alternative" placeholder="%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <br>

    <!-- Project skill sets-->
    <div class="row">
      <div class="col">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0"> What kind of skill sets will this project roughly need? </h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="custom-control custom-control-alternative custom-checkbox mb-3"
              *ngFor="let skill of skills">
                <input name="{{skill.name}}" class="custom-control-input" id="{{skill.name}}" type="checkbox" [(ngModel)]="formModel[skill.field]">
                <label class="custom-control-label" for="{{skill.name}}">{{skill.name}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Submit Button -->
    <br> <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
  </div>
</form>
