<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table displaying result-->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Possible Teams</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr *ngIf="actualTeam">
                <th *ngFor="let person of actualTeam[0]; let i = index" scope="col">Member {{i + 1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of actualTeam">
                <td *ngFor="let person of element">
                  {{person.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Reserve Members</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr *ngIf="reserveTeam">
                <th *ngFor="let person of reserveTeam; let i = index" scope="col">Member {{i + 1}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let person of reserveTeam">
                  {{person.name}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
